{% extends 'base.html' %}
{% load static%}

{% block content %}

    <!----------main-------------->
    <div class="container my-4 px-3">
        <h1 class="text-center fw-bold mb-4 bg-">Terms & Conditions</h1>
            <h5>
                <h3 class="fw-bold">Introduction</h3><br>
                <h5>
                    Welcome to <span><a href="/" class="text-decoration-none fw-bold large">PrepIT</a></span> ("we," "us," or "our"), a website and online platform providing quizzes, contests, and other educational resources.
                    These Terms and Conditions ("Terms") govern your use of our website, services, and content.
                    By accessing or using our platform, you agree to be bound by these Terms.
                </h5><br><br>
                
                <h3 class="fw-bold">Eligibility</h3><br>
                <h5>
                        Our platform is intended for individuals who wants to learn.
                        By using our platform, you represent and warrant that you meet the eligibility criteria.
                </h5><br><br>
                    
                <h3 class="fw-bold">Account Registration</h3><br>
                <h5>
                        To access certain features, you must create an account.
                        You must provide accurate, complete, and up-to-date information during registration.
                        You are responsible for maintaining the confidentiality and security of your account credentials.
                </h5><br><br>
                    
                <h3 class="fw-bold">User Conduct</h3><br>
                <h5>
                        You agree to use our platform for lawful purposes only.
                        You must not:<br><ul>
                        <li>Post or transmit unauthorized or unsolicited content.</li>
                        <li>Use our platform for commercial purposes without our consent.</li>
                        <li>Engage in harassment, bullying, or other abusive behavior.</li>
                        <li>Attempt to hack, reverse-engineer, or exploit our platform.</li></ul>
                </h5><br><br>
                    
                <h3 class="fw-bold">Intellectual Property</h3><br>
                <h5>
                    Our platform, including all content, software, and trade secrets, is owned by us or our licensors.
                    You acknowledge that our platform is protected by intellectual property laws.
                    You must not reproduce, distribute, or display our content without our prior written consent.
                </h5><br><br>
                    
                <h3 class="fw-bold">Quizzes and Contests</h3><br>
                <h5>
                    We offer quizzes and contests for entertainment and educational purposes.
                    Participation in quizzes and contests is subject to additional rules and terms, which will be provided separately.
                    We reserve the right to modify or cancel quizzes and contests at any time.
                </h5><br><br>
                    
                <h3 class="fw-bold">Disclaimers and Limitations</h3><br>
                <h5>
                    Our platform is provided on an "as-is" and "as-available" basis.
                    We disclaim all warranties, express or implied, including fitness for a particular purpose.
                    We will not be liable for any damages, including consequential, incidental, or punitive damages.
                </h5> <br><br>
                   
                <h3 class="fw-bold">Indemnification</h3><br>
                <h5>
                    You agree to indemnify and hold us harmless from any claims, demands, or damages arising from your use of our platform.
                </h5><br><br>

                <h3 class="fw-bold">Changes to Terms</h3><br>
                <h5>
                    We reserve the right to modify these Terms at any time.
                    Changes will be effective immediately upon posting on our platform.
                </h5><br><br>

                <h3 class="fw-bold">Contact Us</h3><br>
                <h5>
                    If you have any questions or concerns about these Terms, please contact us at <a href="mailto:prepit.quiz@gmail.com">prepit@gmail.com</a>.<br><br>
                    By using our platform, you acknowledge that you have read, understood, and agree to be bound by these Terms.
                </h5>     
            </h5>
    </div>
      
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#deleteacc").click(function(){
              $("#settings").css("opacity","0");
            })
          })
    </script>
    
{% endblock %}
